	
<div class="modal-content" style="max-width: 500px">
    <div class="modal-header">


	<label for="exampleInputEmail1">Project name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Add project name" data-bind="value: title">
    <label for="exampleInputEmail1">Project description</label>
    <textarea class="form-control" rows="3" data-bind="value: text"></textarea>

    	

  </div>
   <div class="modal-footer">
<button class="btn btn-default btn btn-success" data-bind="click : add">add new task</button>    </div>
</div>