<div>
    <div class="container"> 
        <div class="row">   
            <div class="col-xs-2">
                <ul class="nav nav-pills nav-stacked nav-tabs">
                    <li role="presentation"><a href="#/projects" class="btn btn-link">projects</a></li>
                    <li role="presentation"><a href="#/tasks" class="btn btn-link">tasks</a></li>

                </ul>
            </div> 
            <div class="col-xs-10">
                 <div class="page-host" data-bind="router: { transition:'entrance' }"></div> 
            </div>
        </div>
    </div> 
</div>