<div class="col-xs-10">
		 <table class="table table-bordered">
		    <thead>
		        <tr>
		            <th>Title</th>
			        <th>Tasks</th>
			        <th>Status</th>
			        <th>Remove/edit</th>
		        </tr>
		    </thead>
		    <tbody data-bind="foreach: tasks">
		        <tr>
		            <td data-bind="text: title"></td>
		            <td>
		            	<span  data-bind="text: text"></span>
		            
		            </td>
	
		            <td>
		            <td>
		            <a href="#" data-bind="click: $parent.removeTask">remove</a></td>
		            </td>
		        </tr>
		    </tbody>
		</table>
	<a href="#/addTask">Add task</a>
		 </div> 
